.layout-outer {
  width: 100%;
  box-sizing: border-box;
}

.layout-inner {
  display: grid;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (max-width: 640px) {
  .layout-inner {
    grid-template-columns: 1fr !important;
  }
}
